@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url(/src/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Inter';
}
